{{ define "main" }}
<main id="home">
    <section class="full">
        <h1>Next Online Meetup</h1>
        <p>July 29th, 2020 6PM AEDT</p>
        <a href="#">View event details</a>
    </section>
    <section class="full">
        <h1>Our Sponsors</h1>
        <p>Special thanks</p>
        <a href="#">Watch on YouTube</a>
    </section>
    <section>
        <h1>Join us on Slack</h1>
        <p>Be a part of the community</p>
        <a href="#">Get an invite</a>
    </section>
    <section>
        <h1>Past Events</h1>
        <p>Catch up on previous presentations</p>
        <a href="#">Watch on YouTube</a>
    </section>
</main>
{{ end }}