{{ define "main" }}
<main id="home">
    {{/*
    <section class="bottom full" style="background-image: url({{ .Site.BaseURL }}/images/home/beyond-wwdc.png); background-size: cover; background-color: #121212;">
        <h1 style="color: #FFFFFF;">Beyond WWDC</h1>
        <p style="color: #FFFFFF; opacity: 0.75;">In-person and Online • Wednesday, 14 June 2023</p>
        <a href="https://www.meetup.com/melbourne-cocoaheads/events/293250938/">View event details</a>
    </section>
    */}}
    <section class="top full" style="background-image: url({{ .Site.BaseURL }}/images/home/meetup.png);">
        <h1 id="event-title">Melbourne CocoaHeads</h1>
        <p id="event-location">Online Event • Second Thursday every month</p>
        <div id="event-details"></div>
        <a id="event-link" href="https://www.meetup.com/en-AU/Melbourne-CocoaHeads/">View event details</a>
    </section>
    <section class="bottom" style="background-image: url({{ .Site.BaseURL }}/images/home/slack.png);">
        <h1>Join us on Slack</h1>
        <p>Be a part of the community</p>
        <a href="{{ .Site.Params.Socials.Slack }}">Get an invite</a>
    </section>
    <section class="bottom" style="background-image: url({{ .Site.BaseURL }}/images/home/past.png);">
        <h1>Past Sessions</h1>
        <p>Catch up on previous presentations</p>
        <a href="{{ .Site.Params.Socials.Youtube }}">Watch on YouTube</a>
    </section>
</main>

{{ partial "sponsors" . }}

<script type="text/javascript">
    $(() => {
        fetch('https://sig4ybows8.execute-api.ap-southeast-2.amazonaws.com/v1/event/next?group=melcch', { mode: 'cors' })
        .then(res => res.json())
        .then(result => {
            if (result.length > 0) {
                let event = result[0];
                let date = new Date(event.time);
                console.log(event);
                $('#event-title').text(event.name);
                $('#event-location').text(
                    event.venue.name
                        + ' • '
                        + date.toLocaleDateString('en-AU', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric' })
                        + ' at '
                        + date.toLocaleTimeString('en-AU', { hour: 'numeric', minute: 'numeric', timeZoneName: 'short' })
                );

                console.log(event);

                var description = event.plain_text_description
                    .replace(/\\#/gim, "#")
                    .replace(/\\-/gim, "-")
                    .replace(/\\\+/gim, "+")
                    .replace(/\\\*/gim, "*")
                    .replace(/\\\|/gim, "|")
                    .replace(/\\\(/gim, "(")
                    .replace(/\\\)/gim, ")")
                    .replace(/\\\[/gim, "[")
                    .replace(/\\\]/gim, "]")
                    .replace(/[^\[\(](https:\/\/[\w./]+)[^\])]/g, ' [$1]($1)') //links
                    .replace(/\*\*Agenda\*\*\n\n\| /gim, "### Agenda\n\n| Time | Action |\n|---|---|\n| ");
                var converter = new showdown.Converter();
                converter.setOption('tables', true);
                description = converter.makeHtml(description);
                $('#event-details').html(description);

                $('#event-link').prop('href', event.link);
            }
        })
    })
</script>

{{ end }}