<aside id="sponsors">
    <h2>Our Sponsors</h2>
    <p>Our community is proudly sponsored and supported by</p>

    <div class="tier">
        <h4>Gold Sponsor</h4>
        <a href="https://ittybittyapps.com" target="_blank"><img src="{{ .Site.BaseURL }}/images/sponsors/ittybittyapps.png" class="large"/></a>
    </div>

    <div class="tier">
        <h4>Silver Sponsors</h4>
        <a href="https://www.cognizant.com/en-au" target="_blank"><img src="{{ .Site.BaseURL }}/images/sponsors/cognizant.png"/></a>
        <a href="https://www.latitudefinancial.com.au/" target="_blank"><img src="{{ .Site.BaseURL }}/images/sponsors/latitude.png"/></a>
        <a href="https://realestate.com.au/" target="_blank"><img src="{{ .Site.BaseURL }}/images/sponsors/reagroup.png"/></a>
    </div>
</aside>