<aside id="sponsors">
    <h2>Our Sponsors</h2>
    <p>Our community is proudly sponsored and supported by</p>

    <div class="tier">
        <h4>Gold Sponsor</h4>
        <a href="https://ittybittyapps.com" target="_blank"><img src="{{ .Site.BaseURL }}/images/sponsors/ittybittyapps.png" class="gold"/></a>
    </div>

    <div class="tier">
        <h4>Silver Sponsors</h4>
        <a href="https://www.dius.com.au/" target="_blank">
            <picture>
                <source srcset="{{ .Site.BaseURL }}/images/sponsors/dius-white.png" media="(prefers-color-scheme: dark)" />
                <img src="{{ .Site.BaseURL }}/images/sponsors/dius-blue.png" class="silver"/>
            </picture>
        </a>
    </div>
</aside>